.page {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px);
    background: url(../../../../helpers//img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;
}

